<h3 class = "ui header"> <%= @task.name %></h3> 
<div class="ui grid">
  <div class="sixteen wide column">
    <div class="row">
      <form class="ui form">
        <div class="field">
          <label for="description">Description: </label>
          <textarea disabled name="description" id="description" cols="15" rows="5"><%= @task.description %></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="six wide column">
      <%= link_to 'Edit', edit_task_path(@task), class: 'ui small button' %>
      <%= link_to 'Delete', @task, class: 'ui small button', method: :delete, data: { confirm: 'Are you sure' } %>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div>
  <h4 class = "ui header"> Comments <h4>
</div>
<div>
  I want to add something here
</div>
<div class="row">
  <%= render @comments%>
</div>
<%= link_to 'Add Comment', new_task_comment_path(@task), class: 'ui small button' %>
